header {
  color: white;

  padding: 50px 0;

  background: radial-gradient(circle, transparent 25%, #2f2f2f 26%), linear-gradient(45deg, transparent 46%, #434343 47%, #434343 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #434343 47%, #434343 52%, transparent 53%);
  background-size: 3em 3em;
  background-color: #2f2f2f;
  opacity: 1;
}

header,
footer {
  text-align: center;
}

main {
  margin: 30px 0;
}

main #translation {
  margin-bottom: 15px;
}

main #translation > .container {
  display: flex;
  gap: 15px;
}

main #translation > .container > .wrap {
  flex: 1;
}

main #translation textarea,
.textarea {
  padding: 30px;
  font-size: 22px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  margin-bottom: 10px;
}

main #translation .entered-word-info {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: calc(100% - 60px);
  height: max-content;
    z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
